.file-input{
    width:500px;
}
.main-div{
    display:flex;
    margin-top: 10px;;

}
.image-div{
    width:600px;
    height:350px;
    /* padding:5px; */
}
.close-btn{
    border-radius: 50%;
    border:none;
    position: absolute;
    height:20px;
    width:20px;
    font-size: 10px;
    cursor: pointer;
    top:0;
    right:0;
    color: white;
    background-color: black;
}
.close-btn:hover{
  background-color: red;
}

.row{
    overflow-y: scroll;
    width: 120px;
    max-height:350px;
    
    margin-left:10px;
}

.column{
    /* float: left; */
    width: 16.66%;
    position: relative;
}
.demo-img{
    opacity: 0.6;
    cursor: pointer;
    margin-bottom: 2px;
}
.demo-img:hover{
    opacity: 1;

}

.upload-btn-div{
    margin-left: 10px;
}