/* @import url('https://fonts.googleapis.com/css?family=Poppins');
h3,h5{
 
  font-family: 'Poppins', sans-serif;
} */

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}
