.case-details {
  margin-top: 30px;
  margin-left: 35px;
  }
.case-details div{
  margin:"5px o"
}
.case-details table td {
 
}

.case-details p,b{
margin-left: 15px ;
font-size: 15px;
font-weight: 400;
}
.case-details h5{
  font-size: 16px;
  font-weight: 650;
}
.case-details h5,p{
  display: inline;
}
